body {
  overflow-y: scroll;
}

.brandLogo {
  font-size: 1.4em;
  line-height: 32px;
}

.cardThumb img {
  display: none;
}

.cardBody {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 120px, rgba(255, 255, 255, 0.5) 100%);
  z-index: 2;
}

.cardBanner {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wordWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.contentList {
  display: none;
}

#brandLogo,
#loadingSpinner {
  height: 32px;
  width: 32px;
}

.jconfirm-content div {
  overflow-y: hidden;
}

.screenshotList{
  display: none;
}

.screenshot-thumb {
  width: 100px !important;
  min-width: 100px !important;
  height: 56px !important;
  min-height: 56px !important;
  -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
  box-shadow: 0 1px 1px rgba(72,78,85,.6);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.screenshot-thumb:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0 15px 15px rgba(72,78,85,.6);
  box-shadow: 0 15px 15px rgba(72,78,85,.6);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.rominfoIcon {
  width: 256 !important;
  min-width: 256px !important;
  height: 256px !important;
  min-height: 256px !important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 15px 15px rgba(72,78,85,.6);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.progress-bar-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#modalRenameAllDialog { min-width: 65vw; }
#modalRenameAllContent { max-height: 90vh; }
#modalRenameAllFileList { overflow-y: auto; }
#renameAllModalContents { text-align: center; }

#fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%; 
  z-index: 999;
}

.modal-dialog { z-index: 1000; }

#titleList { margin-top: 4rem; }

#warningUnmatched { margin-top: 4rem; margin-bottom: -2.5rem!important; }

.dropdown-menu.show { margin-top: 0 !important; }

.hidden { display: none; }

.btnDelUpdate {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}
